//Hero 
$hero-height: 90vh;



//Colors 
$color-grey-light: #f2f2f2;
$color-grey-base: #4d4d4d;
$color-border-color: #e2e2e2;
$color-brand-blue: #2196F3;
$color-green-base: #4caf50;


//Typography
$font-size-desktop-h1: 48px;
$font-size-mobile-h1: 42px;

$font-size-desktop-h2: 28px;
$font-size-mobile-h2: 24px;

$font-size-base: 16px;

$line-height-base: 28px;
$font-weight-light: 300;



//Layout 
$container-width: 860px;
$container-width-condensed: 700px;
$grid-gutter-width: 40px;



//Components 
$features-width: 200px;
$features-icon-width: 64px;
$features-icon-height: $features-icon-width;
$hero-logo-width: 100px;

//Buttons
$button-height: 44px;
$button-width: 280px;

//Media Queries
$media-tablet: 1025px;
$media-mobile: 767px;
