.button-primary{
	width: 200px;
    height: 48px;
    background-color: $color-brand-blue;
    text-align: center;
    line-height: 48px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 18px;
    border: 2px solid $color-brand-blue;
    transition: all 0.2s ease-in-out;

    &:hover{
        transition: all 0.2s ease-in-out;
        background-color: $color-blue-dark;
        border: 2px solid $color-blue-dark;
        cursor: pointer;
    }

}

.button-primary--green{
    background-color: $color-green-base;
    border: 2px solid $color-green-base;

    &:hover{
        cursor: pointer;
        background-color: darken($color-green-base, 15%);
        border: 2px solid darken($color-green-base, 15%);
    }
}

.button--ghost-white{
    background-color: rgba(0,0,0,0);
    color: white;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;

    &:hover{
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-color: rgba(255,255,255,0.5);
        border: 2px solid rgba(255,255,255,0.5);
        color: black;
    }

    &:focus{
        background-color: rgba(0,0,0,0);
        color: white;
        border: 2px solid white;
        transition: all 0.2s ease-in-out;       
    }

}

.button--center{
    display: block;
    margin: 0 auto;
}

.button--mobile{

    @media screen and(max-width: $media-mobile-sml){
        width: 50%;
    }
}