.button-primary{
	width: 200px;
    height: 55px;
    background-color: #2196F3;
    text-align: center;
    line-height: 55px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.button-primary--green{
    background-color: $color-green-base;
    border: 2px solid $color-green-base;

    &:hover{
        background-color: darken($color-green-base, 15%);
        border: 2px solid darken($color-green-base, 15%);
    }
}

.button--ghost-white{
    background-color: none;
    color: white;
    border: 2px solid white;
}

.button--center{
    display: block;
    margin: 0 auto;
}

.button--mobile{

    @media screen and(max-width: $media-mobile){
        width: 100%;
    }
}