.features-wrapper{
	display: flex;
    justify-content: space-between;
    padding: 40px 0 0;
    overflow-x: auto;

    @media screen and (max-width: 576px){
        overflow-x: scroll;
        padding: 20px $grid-gutter-width/4 0;
    }

}

.features-item{
	min-height: 100%;
    width: $features-width;
	margin-bottom: 0;
    margin-right: $grid-gutter-width/2;
    border: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-basis: 200px;
    min-width: 20%;
    padding: 0;

    .icon-base{
        display: block;
        margin: 0 auto;
    }

    &:last-child{
        margin-right: 0;
    }

    @media screen and(max-width: $media-mobile){
    	width: 100%;
    	margin-bottom: 30px;
    }

    @media screen and(max-width: 576px){
        padding: 20px;
        flex-basis: 200px;
        min-width: 200px;
        border: 1px solid $color-brand-blue;
        border-radius: 4px;
        background-color: rgba(255,255,255,1);        
    }

}

.features-heading{
    text-align: left;

    @media screen and (max-width: $media-mobile){
        text-align: center;
    }
}

.features-description{
    margin-bottom: 0;
}

.feature-icon{
	width: $features-icon-width;
	height: $features-icon-width;
	border-radius: 100%;
	background: $color-brand-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;	
}

.feature-mobile-scroller-wrapper{
    position: relative;
}

.feature-mobile-scroller{
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: $color-grey-light;
    z-index: 3;
    bottom: 0;

    .circle-row{
        display: flex;
        justify-content: center;
    }

    .circle{
        border-radius: 100%;
        width: 16px;
        height: 16px;
        background-color: green;
        margin: 5px 10px 0;
    }
}