.features-wrapper{
	display: flex;
    justify-content: space-between;
    padding: 40px 0;

    @media screen and(max-width: $media-mobile){
    	display: block;
    }
}

.features-item{
	min-height: 100%;
    width: $features-width;
	margin-bottom: 0;
    margin-right: $grid-gutter-width/2;

    .icon-base{
        display: block;
        margin: 0 auto;

        &.icon-friend{
            padding-top: 23px;
        }

        &.icon-computer{
            padding-top: 22px;
        }

        &.icon-speech{
            padding-top: 26px;
        }

    }

    &:last-child{
        margin-right: 0;
    }

    @media screen and(max-width: $media-mobile){
    	width: 100%;
        margin-right: 0;
    	margin-bottom: 30px;
    }

}

.features-heading{
    text-align: left;

    @media screen and (max-width: $media-mobile){
        text-align: center;
    }
}

.features-description{
    margin-bottom: 0;
}

.feature-icon{
	width: $features-icon-width;
	height: $features-icon-width;
	border-radius: 100%;
	background: $color-brand-blue;
	display: block;
    margin: 0 auto;	
}