@import "../variables.scss";

.hero-container{
	height: $hero-height;
	background: $color-brand-blue;
}

.hero-row{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.hero-content{
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;

   	@media screen and (max-width: $media-mobile){
	    padding-left: $grid-gutter-width/2;
	    padding-right: $grid-gutter-width/2;    	
    }
}

.hero-btn-row{
	display: flex;

	.button--ghost-white{
		margin-right: 15px;
	}
}