@import "../variables.scss";

.hero-container{
	height: $hero-height;
   	background-image: url("../images/hero-banner-lg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center top;
    position: relative;
    background-size: cover;
    height: $hero-height;
}

.hero-container--overlay{
	background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 140%);
	height: $hero-height;
	width: 100%;
	position: absolute;
	top: 0;
}

.hero-logo{
	width: $hero-logo-width;
    padding-bottom: 30px;
}

.hero-row{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-title, .hero-intro{
	color: white;
}

.hero-intro{
	font-size: 20px;
	margin-bottom: 40px;
}

.hero-content-wrapper{
    max-width: $container-width-condensed;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
    transform: translate(0px, 0px);

   	@media screen and (max-width: $media-tablet){
	    padding-left: $grid-gutter-width/2;
	    padding-right: $grid-gutter-width/2;    	
    }

   	@media screen and (max-width: $media-mobile){
	    padding-left: $grid-gutter-width/2;
	    padding-right: $grid-gutter-width/2;    	
    }
}

.hero-intro-row{
	animation: hero-slide-in 0.5s ease-in-out;
	animation-fill-mode: forwards;
    opacity: 0;

    @keyframes hero-slide-in {
  		0%   { opacity: 0; transform: translate(0, -100px);}
  		30%   { opacity: 0;}
  		60%   { opacity: 0.4;}
  		100% { opacity: 1; transform: translate(0px, 0px);}
	}
}



.hero-btn-row{
	display: flex;
	flex-direction: row;
	animation: btns-slide-in 0.5s ease-in-out;
	animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.2s;

    @keyframes btns-slide-in {
  		0%   { opacity: 0;}
  		100% { opacity: 1;}
	}

	.button-primary:first-child{
		margin-right: 15px;
		order: 0;
		margin-bottom: 0;
	}

	.button--ghost-white{
    	order: 0;		
	}
}