@import "../variables.scss";

.hero-container{
	height: $hero-height;
   	background-image: url("../images/hero-banner.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center top;
    position: relative;
    background-size: cover;
}

.hero-overlay{
background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(255,255,255,0) 130%);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.hero-logo{
	width: $hero-logo-width;
    padding-bottom: 30px;
}

.hero-row{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-title, .hero-intro{
	color: white;
}

.hero-intro{
	font-size: 20px;
	margin-bottom: 40px;
}

.hero-content-wrapper{
    max-width: $container-width-condensed;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;

   	@media screen and (max-width: $media-tablet){
	    padding-left: $grid-gutter-width/2;
	    padding-right: $grid-gutter-width/2;    	
    }

   	@media screen and (max-width: $media-mobile){
	    padding-left: $grid-gutter-width/2;
	    padding-right: $grid-gutter-width/2;    	
    }
}

.hero-btn-row{
	display: flex;
	flex-direction: row;

	.button-primary:first-child{
		margin-right: 15px;
		order: 0;
		margin-bottom: 0;
	}

	.button--ghost-white{
    	order: 0;		
	}

	@media screen and (max-width: $media-mobile-sml){

		flex-direction: column;


		.button-primary:first-child{
			margin-right: 0;
			order: 2;
		}

		.button--ghost-white{
	    	order: 1;
	    	margin-top: 20px;		
		}

	}
}