@import "variables.scss";

.container{
	max-width: $container-width;
    margin: 0 auto;
    display: block;
    padding: 60px 0;

    @media screen and (max-width: $media-mobile){
	    padding: 40px 0;
    }
}

.container--intro, .container--condensed{
	max-width: 700px;
}

.container--light-grey{
	background-color: $color-grey-light;
}

.container--mid-grey{
	background-color: $color-grey-base;

	.container--mid-grey-heading, .container--mid-grey-content{
		color: white;
	}
}

.container, .container--intro, .container--grey{
	height: 100%;
}

.row{
	max-width: $container-width;
	padding-left: 0;
	padding-right: 0;


	@media screen and (max-width: $media-tablet){
		padding-left: 20px;
		padding-right: 20px;
	}

	@media screen and (max-width: $media-mobile){
		padding-left: 20px;
		padding-right: 20px;
	}
}